<div class="row pt-5">
<div class="col-md-2 ">
    <table class="table table-bordered ">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col ">Primera banda</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="color1" type="radio" name="color1" value="0">
        </th>
        <td class="text-center" style="background-color: black; color: white;">0</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="1">
        </th>
        <td class="text-center" style="background-color: burlywood; color: white;">1</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="2">
        </th>
        <td class="text-center" style="background-color: red; color: white;">2</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="3">
        </th>
        <td class="text-center" style="background-color: orangered; color: white;">3</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="4">
        </th>
        <td class="text-center" style="background-color: yellow; color: white;">4</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="5">
        </th>
        <td class="text-center" style="background-color: green; color: white;">5</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="6">
        </th>
        <td class="text-center" style="background-color: blue; color: white;">6</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="7">
        </th>
        <td class="text-center" style="background-color: purple; color: white;">7</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="8">
        </th>
        <td class="text-center" style="background-color: gray; color: white;">8</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color1" type="radio" name="color1" value="9">
        </th>
        <td class="text-center" style="background-color: gainsboro; color: white;">9</td>
        </tr>
    </tbody>
    </table>
</div>

<!--Seguda banda-->

<div class="col-md-2 ">
    <table class="table table-bordered ">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col ">Segunda banda</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="0">
        </th>
        <td class="text-center" style="background-color: black; color: white;">0</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="1">
        </th>
        <td class="text-center" style="background-color: burlywood; color: white;">1</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="2">
        </th>
        <td class="text-center" style="background-color: red; color: white;">2</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="3">
        </th>
        <td class="text-center" style="background-color: orangered; color: white;">3</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="4">
        </th>
        <td class="text-center" style="background-color: yellow; color: white;">4</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="5">
        </th>
        <td class="text-center" style="background-color: green; color: white;">5</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="6">
        </th>
        <td class="text-center" style="background-color: blue; color: white;">6</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="7">
        </th>
        <td class="text-center" style="background-color: purple; color: white;">7</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="8">
        </th>
        <td class="text-center" style="background-color: gray; color: white;">8</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="color2" type="radio" name="color2" value="9">
        </th>
        <td class="text-center" style="background-color: gainsboro; color: white;">9</td>
        </tr>
    </tbody>
    </table>
</div>

<!--Multiplicador-->
<div class="col-md-2 ">
    <table class="table table-bordered ">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col ">Multiplicador</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">
            <input [(ngModel)]="multi" type="radio" name="multi" value="1">
        </th>
        <td class="text-center" style="background-color: black; color: white;">x1</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="10">
        </th>
        <td class="text-center" style="background-color: burlywood; color: white;">x10</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="100">
        </th>
        <td class="text-center" style="background-color: red; color: white;">x100</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="1000">
        </th>
        <td class="text-center" style="background-color: orangered; color: white;">x1000</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="10000">
        </th>
        <td class="text-center" style="background-color: yellow; color: white;">x10000</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="100000">
        </th>
        <td class="text-center" style="background-color: green; color: white;">x100000</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="1000000">
        </th>
        <td class="text-center" style="background-color: blue; color: white;">x1000000</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="10000000">
        </th>
        <td class="text-center" style="background-color: purple; color: white;">x10000000</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="100000000">
        </th>
        <td class="text-center" style="background-color: gray; color: white;">x100000000</td>
        </tr>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="multi" type="radio" name="multi" value="1000000000">
        </th>
        <td class="text-center" style="background-color: gainsboro; color: white;">x1000000000</td>
        </tr>
    </tbody>
    </table>
</div>
</div>
<!--Tolerancia-->
<div class="row pt-5">
<div class="col-md-2 ">
    <table class="table table-bordered ">
    <tbody>
        <tr>
        <th scope="row">
            <input  [(ngModel)]="tol" type="radio" name="tol" value="5">
        </th>
        <td class="text-center" style="background-color: gold; color: white;">Dorado 5%</td>
        </tr>
        <tr>
        <th scope="row">
            <input [(ngModel)]="tol" type="radio" name="tol" value="10">
        </th>
        <td class="text-center" style="background-color: silver; color: white;">Plata 10%</td>
        </tr>
    </tbody>
    </table>
</div>
<!--Resultado-->
<div class="col-md-2 d-flex align-items-start">
    <table class="table table-bordered text-center">
    <thead>
        <tr>
        <th scope="col" style="white-space: nowrap;">Color 1</th>
        <th scope="col " style="white-space: nowrap;">Color 2</th>
        <th scope="col " style="white-space: nowrap;">Multiplicador</th>
        <th scope="col " style="white-space: nowrap;">Tolerancia</th>
        <th scope="col " style="white-space: nowrap;">Valor</th>
        <th scope="col " style="white-space: nowrap;">Valor maximo</th>
        <th scope="col " style="white-space: nowrap;">Valor minimo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td [style.background-color]="(bg1)" class="text-center" style="color: white;">{{c1}}</td>
        <td [style.background-color]="(bg2)" class="text-center" style="color: white;">{{c2}}</td>
        <td [style.background-color]="(bg3)" class="text-center" style="color: white;">x{{resultado.multi}}</td>
        <td [style.background-color]="(bg4)" class="text-center" style="color: white;">{{tolText}} {{resultado.tolerancia}}%</td>
        <td class="text-center">{{resultado.valor}}</td>
        <td class="text-center">{{resultado.valorMax}}</td>
        <td class="text-center">{{resultado.valorMin}}</td>
        </tr>
    </tbody>
    </table>
    <div class="ms-3">
        <button  (click)="procesar()" class="btn btn-primary">
            Calcular
        </button>
    </div>
</div>
</div>
    